@mixin mobile {
    @media (max-width : 576px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width : 768px) {
        @content;
    }
}

@mixin large {
    @media (max-width : 992px) {
        @content;
    }
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
    @include large {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
}

body{
    background-color: #0c0c1d;
    color: lightgray;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    font-family: math;
}

section{
    height: 100vh;
    scroll-snap-align: center;
    overflow: hidden;

    @include large{
        overflow-y: scroll;
    }

    @include tablet{
        margin: 50px 0px;
        border-bottom: 1px solid #996e333b;
    }
}

h3{
    font-size: 2.8em;
    font-weight: bold;
    color: rebeccapurple;
    text-align: center;
    margin-top: 15px;
} 

