.hero{
    height: calc(100vh - 100px); //sottraggo la navbar
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;

    .wrapper{
        display: flex;
        justify-content: space-between;
        height: 100%;

        .textContainer{
            width: 50%;
            padding-left: 5rem;

            h2{
                font-size: 3em;
                letter-spacing: 10px;
                color: rebeccapurple;
                margin-bottom: 0;
            }

            h1{
                font-size: 5.5em;
                color: lightgray;
                margin: 25px 0;
            }

            .buttons{
                display: flex;

                a{
                    display: flex;
                    align-items: center;
                    background-color: rebeccapurple;
                    color: black;
                    text-decoration: none;
                    border: 1px solid black;
                    margin-right: 10px;
                    padding: 1.1em 1.8em;
                    border-radius: 25px;  
                    transition: border-radius 0.3s ease-in-out;
                    font-size: 1.5em;
                    font-weight: bold;
                }

                a:hover{
                    border-radius: 0px;
                }
            }
        }

        .picContainer {
            position: absolute;
            bottom: -3px;
            right: 0;
            z-index: 2;

            img{
                width: 30rem;
            }
        }

    }

    .textSliderContainer{
        font-size: 40vh;
        position: absolute;
        bottom: 0px;
        white-space: nowrap; 
        color: #ffffff16;
        width: 50%;
    }
}