.contactContainer{
    text-align: center;

    h4{
        font-size: 2.5em;
    }

    p{
        font-size: 1.5em;
    }

    img{
        width: 100px;
    }

    a{
        color: rebeccapurple;
        font-size: 1.4em;
        font-weight: bold;
    }
}