.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            font-weight: bold;
        }


        .social{
            display: flex;
            gap: 10px;

            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}